.root {
	-fx-couleur-fonce: rgb(30,30,30);
	-fx-couleur-pale: rgb(70,70,70);
	-fx-couleur-plus-pale: rgb(110,110,110);
	-fx-couleur-bleu: rgb(60,130,220);
	-fx-background-color: -fx-couleur-pale;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-font-size: 12px;
}

.tab-header-background {
    -fx-background-color: -fx-couleur-fonce;
}

.tab-pane * {
	-fx-text-fill: white;

}

.tab {
	-fx-background-color: -fx-couleur-fonce;
	-fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane {
	-fx-tab-min-width:30px;
	-fx-tab-max-width:30px;
	-fx-tab-min-height:140px;
	-fx-tab-max-height:140px;
}

.tab-label {
    -fx-rotate: 90;
	-fx-padding: 0 0 0 -99100;
	-fx-translate-y: 99035;
	-fx-alignment: baseline-left;
}

.tab-pane > .tab-header-area > .headers-region > #tab01:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab01:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab10:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav10hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab10:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav10hover.png"); -fx-text-fill: -fx-couleur-bleu; }

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-text-fill: -fx-couleur-bleu;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-background-color: -fx-couleur-pale;
}

/* .table-view {
    -fx-background-color: -fx-couleur-plus-pale;
}

.table-view .column-header {
    -fx-background-color: -fx-couleur-plus-pale;

} */