.root {
	-fx-couleur-fonce: rgb(30,30,30);
	-fx-couleur-pale: rgb(70,70,70);
	-fx-couleur-plus-pale: rgb(110,110,110);
	-fx-couleur-bleu: rgb(60,130,220);
	-fx-background-color: -fx-couleur-pale;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-font-size: 12px;
}

* {
	/* -fx-border-radius: 10px; */
}

.tab-header-background {
    -fx-background-color: -fx-couleur-fonce;
}

.tab-pane * {
	-fx-text-fill: white;

}

.tab {
	-fx-background-color: -fx-couleur-fonce;
	-fx-background-insets: 0 1 0 1,0,0;
	
}

.tab-pane {
	-fx-tab-min-width:30px;
	-fx-tab-max-width:30px;
	-fx-tab-min-height:140px;
	-fx-tab-max-height:140px;
}

.tab-label {
    -fx-rotate: 90;
	-fx-padding: 0 0 0 -99100;
	-fx-translate-y: 99035;
	/* -fx-translate-y: -70; */
	-fx-alignment: baseline-left;
	/* -fx-position-shape: false; */
}

.tab-pane > .tab-header-area > .headers-region > #tab01:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab01:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab10:hover > .tab-container > .tab-label { -fx-graphic: url("medias/nav10hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab10:selected > .tab-container > .tab-label { -fx-graphic: url("medias/nav10hover.png"); -fx-text-fill: -fx-couleur-bleu; }

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-text-fill: -fx-couleur-bleu;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-background-color: -fx-couleur-pale;
}

/* .table-view {
    -fx-background-color: -fx-couleur-plus-pale;
}

.table-view .column-header {
    -fx-background-color: -fx-couleur-plus-pale;

} */


.table-view, .table-view .column-header-background {
	-fx-background-color: transparent;
	-fx-border-color: white;
 }
 
 .table-view:focused{
	 -fx-background-color: transparent;
 }
 
 /* Spaltenköpfe
	 Struktur column-header-background -> column-header */
 
 /* .table-view .column-header-background{
	 -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
 } */
 
 .table-view .column-header-background .label{
	 -fx-background-color: transparent;
	 -fx-text-fill: white;
 }
 
 .table-view .column-header {
	 -fx-background-color: transparent;
 }
 
 .table-view .table-cell{
	 -fx-text-fill: white;
 }
 
 .table-row-cell{
	 -fx-background-color: -fx-table-cell-border-color, #616161;
	 -fx-background-insets: 0, 0 0 1 0;
	 -fx-padding: 0.0em; /* 0 */
 }
 
 .table-row-cell:odd{
	 -fx-background-color: -fx-table-cell-border-color, #424242;
	 -fx-background-insets: 0, 0 0 1 0;
	 -fx-padding: 0.0em; /* 0 */  
 }
 
 .table-row-cell:selected {
	 -fx-background-color: #005797;
	 -fx-background-insets: 0;
	 -fx-background-radius: 1;
 }
 
 .table-view > .virtual-flow > .scroll-bar:vertical,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
 .table-view > .virtual-flow > .scroll-bar:horizontal,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
	 -fx-background-color: transparent;
 }
 
 
 
 .table-view > .virtual-flow > .scroll-bar > .increment-button, 
 .table-view > .virtual-flow > .scroll-bar > .decrement-button {
	 -fx-opacity: 0;
 }